<div class="footer" style="position:fixed;bottom:0;left:0;right:0;height:70px;">
    <!-- Load jQuery -->
    <!-- <script src="/vendor/jquery/jquery-3.3.1.min.js" type="text/javascript"></script> -->
    <script src="{{ '/' | relative_url }}assets/jquery/dist/jquery.js" type="text/javascript"></script>

    <!-- Make a list of footer images -->
    <!-- init the list -->
    {% assign footer_images = "" | split: ',' %}

    <!-- loop and add -->
    {% for image in site.static_files %}
    {% if image.path contains '/assets/footer/' %}
    <!-- add image -->
    {% assign footer_images = footer_images | push: image.path %}
    {% endif %}
    {% endfor %}

    <!--
        Javascript and Liquid code to gather a list of all footer images
        in /assets/images/headers/
    -->
    <a href="{{ '/' | relative_url }}mood_board">
        <img id="footer_img" alt="" style="float: right; bottom: 0;" src="{{ '/' | relative_url }}" width="70"
            height="70">
    </a>
    <script type="text/javascript">
        // get images from ``footer_images`` array to js var
        var footer_images = [
            {% for image in footer_images %}
        "{{ site.baseurl }}{{ image }}",
            {% endfor %} 
        ];

        console.log(footer_images)
        var randomIndex = Math.floor(Math.random() * footer_images.length);

        // and the winning ``header_image`` is...
        var footer_image = footer_images[randomIndex]
        console.log(footer_image)
        document.getElementById('footer_img').src = footer_image;
    </script>

</div>